@font-face {
  font-family: 'Korean';
  src: url('./media/fonts/Korean.ttf');
}

@font-face {
  font-family: 'UnGungseo';
  src: url('./media/fonts/UnGungseo.ttf');
}

@font-face {
  font-family: 'Nexa Light';
  src: url('./media/fonts/Nexa Light.otf');
}

body {
  background-color: #2a9fb9;
  color: rgb(240, 240, 240);
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  height: 100%;
}

#main-container {
  min-height: 100%;
  position: relative;
}

header {
  /*font-weight: bold;*/
  text-align: center;
  vertical-align: middle;

  background-color: #2D3E50;
  box-shadow: 0 0.5px 10px rgba(0, 0, 0, 0.4);
  /*text-align: left;*/
  padding-top: 5px;
  padding-bottom: 12px;
  margin-bottom: 50px;
  width: 100%;
  font-family: 'Shadows Into Light', cursive;
}

#helper {
  font-family: 'Nexa Light';
  font-size: 50px;
}

#hangul {
  font-size: 40px;
  font-weight: lighter;
}

#header-subtext {
  font-size: 15px;
  margin-left: 10px;

}

#content-container {
  /*padding: 10px;*/
  padding-bottom: 70px;
}

.heading {
  font-size: 20px;
  font-weight: bold;

  padding-bottom: 30px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);

}

.letter-list li {
  display: inline-block;
  padding-left:  20px;
  padding-right: 20px;
  padding-bottom: 50px;
  
  font-size: 40px;
}

.korean-letter {
  position: relative;
  padding-bottom: 10px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}

/*.overlay {
  position: absolute;
  z-index: 10;
  top: 3px;
  right: -2px;

  font-size: 15px;
}

.overlay img {
  width:  15px;
}*/

.letter-name {
  font-size: 13px;
  padding-bottom: 12px;
}

.latin {
  font-size: 15px;
  padding-bottom: 12px;
}

.play-button {
  display: none;

  margin: 0 auto;
  top: 25%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 0 6px 12px;
  border-color: transparent transparent transparent rgb(240, 240, 240);
  cursor: hand;
}

.note {
  margin-top: 4px;
  font-size: 15px;
}

footer {
  text-align: center;
  text-align: left;
  font-size: 10px;
  background-color: #2b2c31;
  box-shadow: inset 0 0.5px 10px rgba(0, 0, 0, 0.4);
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 70px;
  color: grey;

  /* Ni puta idea porque, but this makes footer work on iOS*/
  position: absolute;
  bottom: 0;
}

#share-buttons {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  /*float: left;*/
  /*display: inline-block;*/
}

.circle {
  background-color: #2fa06c;
  border-radius: 50%;
  text-align: center;
  
  height: 16px;
  display: inline-block;
  padding: 5px 5px 10px 5px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.circle img {
  width: 20px;
  height: 20px;
}

#footer-text {
  display: inline-block;
  /*float: left;*/
  /*text-align: center;*/
}

.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
}